places.dtd

<!ELEMENT places (beach+,hillstation+,willdlife+)>  
<!ELEMENT beach (bname,region,bdesc)> 
<!ELEMENT bname (#PCDATA)> 
<!ELEMENT region (#PCDATA)>
<!ELEMENT bdesc (#PCDATA)>
<!ELEMENT hillstation (hname,hstate,hdesc)>  
<!ELEMENT hname (#PCDATA)>
<!ELEMENT hstate (#PCDATA)>
<!ATTLIST hstate districtcount PCDATA "0">
<!ELEMENT hdesc (#PCDATA)>

